process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '48 GB'
    clusterOptions = '--account=warrenlab'
    conda = 'minimap2 freebayes bcftools samtools'

    withName: align {
        cpus = 26
        memory = '226 GB'
    }
}

conda.useMamba = true

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/shortread-polish-nf'
    author = 'Edward S. Rice'
}
